html {
	padding: 10px;
	cursor: none;
	background-color: #000000;
}

canvas {
	position: fixed;
    top: 0;
    left: 0;
}

p {
	font-size: 10pt;
	color: #efefef;
	margin: 10px 0 5px 0;
}

.bold {
	font-weight: bold;
}

#splash {
	position: absolute;
	z-index: 99;
	width: 184px;
	margin-left: -92px;
	height: 80px;
	margin-top: -40px;
	left: 50%;
	top: 45%;
	padding: 20px;
	background-color: #000000;
	font-family: monospace;
}

#reticle {
	position: absolute;
	z-index: 99;
	left: 50%;
	top: 50%;
	margin: 0;
	padding: 0 0 10px 0;
	font-weight: bold;
	font-size: 32pt;
	font-family: monospace;
	color: #000000;
}

#score {
	position: absolute;
	z-index: 99;
	left: 2%;
	top: 2%;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 14pt;
	font-family: monospace;
	color: #000000;
}

#controls {
	position: absolute;
	z-index: 99;
	right: 2%;
	top: 2%;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 14pt;
	font-family: monospace;
	color: #000000;
}

#position {
	position: absolute;
	z-index: 99;
	left: 2%;
	bottom: 2%;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 14pt;
	font-family: monospace;
	color: #000000;
}